<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarterApp</title>
    <link rel="icon" href="resources/icon.svg" type="image/icon type">
    <link rel="stylesheet" href="header.css" type="text/css"
</head>
<body>
    <style>
        
    </style>
    <nav>
        <ul>
            <li><a href="link"><img id="logo" src="logo.png" alt="logo"></li>
            <li><a href="link"><img class="nav-button" src="add_item.png" alt="add item"></a></li>
            <li><a href="link"><img class="nav-button" src="my_barters.png" alt="my barters"></a></li>
            <li><a href="link"><img class="nav-button" src="profile.png" alt="profile"></a></li> 
        </ul>
    </nav>
</body>
</html>