<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BarterApp</title>
    <link rel="icon" href="resources/icon.svg" type="image/icon type">
</head>
<body>
    <h1>
        
    </h1>
</body>
</html>