
<!DOCTYPE html>
<html>
	<head>
		<title>Registration</title>
		<link rel="icon" type="svg" href="/images/icon.svg">
		<link rel="stylesheet" href="/css/register.css">
	</head>
	<body>
		<div class="slogan">
			<div>
				<h1>
					Make connections.
				</h1>
				<h1>
					Trade things.
				</h1>
				<h1>
					BarterApp.
				</h1>
			</div>
		</div>
		<div class="container">
			<div class="title">
				<img src="/images/logo.png">
			</div>
			<form>
				<div class="inline1">
					<h4>First Name</h4>
					<input>
				</div>
				<div class="inline2">
					<h4>Last Name</h4>
					<input>
				</div>
				<div class="long">
					<h4>Email</h4>
					<input type="email">
				</div>
				<div class="long">
					<h4>Home Address</h4>
					<input>
				</div>
				<div>
					<h4>Contact Number</h4>
					<input type="number">
				</div>
				<div>
					<h4>Password</h4>
					<input type="password">
				</div>
				<div>
					<h4>Retype Password</h4>
					<input type="password">
				</div>
				<span>
					<input class="btn_getstarted" type="button" value="Get Started">
					<!-- <input class="btn_signin" type="button" value="Sign in with Google"> -->
				</span>
				<span>
					<a href="#">Already have an account? Login</a>
				</span>
			</form>
		</div>
	</body>
</html>